.App {
    background: black;
    color: white;
    height: 570px;
    padding: 10px;
    position: relative;
    width: 300px;
    margin: 100px auto;
    font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

body {
    overflow: hidden;
}

.top {
    display: flex;
    height: 60px;
    align-items: flex-start;
    justify-content: space-between;
}

.menu {
    position: relative;
    width: 45%;
    height: 10px;
    transform: scale(0.33);
}

.display {
    font-size: 60px;
    font-family: sans-serif;
    font-weight: 400;
    padding: 15px;
    text-align: right;
    overflow: auto;
    height: 113.2px;

}

.display::-webkit-scrollbar {
    width: 0;
}


.buttons {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.bottom {
    position: absolute;
    width: 100px;
    height: 5px;
    background: white;
    bottom: 10px;
    left: 50%;
    border-radius: 4px;
    transform: translateX(-50%);
}

@media only screen and (max-width: 480px) {
    .App {
        padding: 20px !important;
        width: 100%;
        height: 100%;
    }

    body {
        background: black;

    }

    .buttons {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    .buttons * {
        width: 70px;
        height: 70px;
    }

    .top {
        display: none;
    }

    .display {

    }

    .bottom {
        display: none;
    }
}
